@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #edf1f6;
  font-family: 'Nunito', sans-serif;

}
.pagination_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color:#393b41;
}